@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* colours:
main site green: #50cf88; front-end: #1AA1C0; fullstack JS: #BF4564;
python: #F27B9E; iOS: #37AFA8 */

/* global settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 1rem;
}

*:focus { /* replaced on elements later */
  outline: none;
}

.transparent {
  opacity: 0.5;
}

.hide {
  display: none;
}

/* header section: inc buttons to select techdegrees for comparison */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
  background-color: #50cf88dd;
  color: #fff;
}

header h1 {
  margin: 20px 5px;
  font-size: 3em;
}

header p {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.choose-techdegree, .selected-techdegree {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

button, a {
  margin: 10px;
  background: #fff;
  border-radius: 7.5px;
  font-size: 1.25em;
  transition: 0.2s;
}

button.td {
  height: 100px;
  width: 200px;
}

button.td:hover, button.td:focus, button.td.selected {
  border: 3px solid #fff;
  color: #fff;
}

button.fe {
  border: 3px solid #1AA1C0;
  color: #1AA1C0;
}

button.fe:hover, button.fe:focus, button.fe.selected {
  background: #1AA1C0;
}

button.js {
  border: 3px solid #BF4564;
  color: #BF4564;
}

button.js:hover, button.js:focus, button.js.selected {
  background: #BF4564;
}

button.py {
  border: 3px solid #F27B9E;
  color: #F27B9E;
}

button.py:hover, button.py:focus, button.py.selected {
  background: #F27B9E;
}

button.iOS {
  border: 3px solid #37AFA8;
  color: #37AFA8;
}

button.iOS:hover, button.iOS:focus, button.iOS.selected  {
  background: #37AFA8;
}

.selected-techdegree button, a {
  height: 50px;
  width: 100px;
  border: 3px solid #50cf88;
  color: #50cf88;
  letter-spacing: 0.05em;
}

.selected-techdegree button:hover, .selected-techdegree button:focus, h2 button:hover, h2 button:focus, a:hover, a:focus {
  border: 3px solid #fff;
  background: #50cf88;
  color: #fff;
}

a {
  width: 275px;
  text-decoration: none;
  margin: 0 auto;
  line-height: 50px;
}

/* courses & projects section */
h2 {
  margin: 20px;
  border-bottom: 2px solid #50cf88;
  padding: 5px;
  text-align: left;
  font-size: 2em;
}

h2 button {
  height: 40px;
  width: 160px;
  border: 3px solid #50cf88;
  padding: 5px;
  font-size: 0.5em;
  color: #50cf88;
}

section.courses, section.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul {
  width: 300px;
  margin: 15px;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #50cf8855;
  padding: 10px 5px 0 5px;
}

li.techdegree-name {
  background: #50cf8855;
}

li p {
  display: inline-block;
  text-align: left;
}

li p.course-type, li p.project-desc {
  font-size: 0.8em;
  margin-top: 5px;
  border-top: 1px solid #50cf8855;
  background: #50cf8811;
}
